div{
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
}
a {
    text-decoration: none;
    color: black;
    margin: 10px;
}   
input,
textarea{
    padding: 5px 10px;
}
textarea{
    resize: none;
    margin: 15PX 0 10PX 10PX;
}
button{
    width: 100PX;
    height: 22px;
    margin-left: auto;
}



.constructor_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}
.add_img{
    width: 330px;
    height: 330px;
}
.constructor_block_data{
    margin: 0 10px ;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.constructor_block_data input{
    margin: 15PX 0 15PX 10PX;
}
.container{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.next_block{
    display: none;
    width: 100PX;
    height: 22px;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
.style_blocks{
    margin:  10px;
}
.size_img{
    width: 300px;
    height: 300px;
}